
.bg-gob {
  background-color: #005267;
}

.bg-gob-red {
  background-color: #f27476
}

.bg-gob-cyan {
  background-color: #43c5f5;
}

.text-gob-red {
  color: #f27476
}

.text-gob-cyan {
  color:#0093d3
}
